services:
  rasa:
    container_name: rasa_server
    build:
      context: .
      dockerfile: Dockerfile
    user: root
    depends_on:
      - actions
      - rabbit
      - db
    ports:
      - "5005:5005"
    volumes:
      - .:/app

  actions:
    image: rasa/rasa-sdk:3.1.2
    container_name: rasa_actions
    restart: always
    ports:
      - "5055:5055"
    volumes:
      - ./actions:/app/actions

  nginx:
    image: nginx:alpine
    container_name: rasa_nginx
    ports:
      - "81:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - rasa

  rabbit:
    image: "rabbitmq:3.8-management"
    container_name: rasa_rabbitmq
    ports:
      - "5672:5672"     # Broker port
      - "15672:15672"   # Management UI (optional)
    environment:
      RABBITMQ_DEFAULT_USER: "user"
      RABBITMQ_DEFAULT_PASS: "password"
    restart: always

  db:
    image: postgres:13
    container_name: rasa_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: rasa
      POSTGRES_PASSWORD: rasa
      POSTGRES_DB: rasa
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rasax:
    image: rasa/rasa-x:1.1.4
    container_name: rasa_x
    restart: always
    ports:
      - "5002:5002"
    depends_on:
      - db
      - rabbit
      - rasa
    environment:
      RASA_X_VERSION: "1.1.4"
      RASA_X_HOST: "http://rasax:5002"
      RASA_USER_APP: "http://actions:5055/webhook"
      RASA_X_USERNAME: admin
      DB_HOST: "db"
      DB_PORT: "5432"
      DB_USER: "rasa"
      DB_PASSWORD: "rasa"
      DB_DATABASE: "rasa"
      RABBITMQ_USERNAME: "user"
      RABBITMQ_PASSWORD: "password"
      RABBITMQ_HOST: "rabbit"
      REDIS_HOST: "redis"
      RASA_X_TOKEN: "AnotherSecureRandomString"
      JWT_SECRET: "AnotherSecureRandomString"
      TRACKER_DB: "rasa"
    volumes:
      - ./environments.yml:/app/environments.yml
      - ./credentials.yml:/app/credentials.yml
      - ./endpoints.yml:/app/endpoints.yml

volumes:
  postgres_data:
